# This workflow runs code style checks, automated tests, and static type checks

name: CI Workflow

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events
  [push, pull_request]

jobs:

  # This job checks code style using pre-commit
  style:
    runs-on: ubuntu-latest
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set up Git repository
        uses: actions/checkout@v4

      # Setup Python
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      # Install requirements
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -r requirements.txt
          python -m pip list

      # Install pre-commit from .pre-commit-config.yaml
      - name: Install pre-commit
        run: |
          pre-commit install

      # Run pre-commit on all the files in the repo
      - name: Run pre-commit
        run: |
          pre-commit run --all-files --color always --verbose --show-diff-on-failure

  # This job runs automated tests with pytest
  tests:
    runs-on: ubuntu-latest
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE
      - name: Set up Git repository
        uses: actions/checkout@v4

      # Setup Python
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      # Install requirements
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -r requirements.txt

      # Run tests with pytest
      - name: Run tests with pytest
        run: |
          python scripts/run_tests.py   # This workflow runs automated tests with pytest

  # This job runs static type checks with mypy
  typecheck:
    runs-on: ubuntu-latest
    steps:
      # Checks out your repository under $GITHUB_WORKSPACE
      - name: Set up Git repository
        uses: actions/checkout@v4

      # Setup Python
      - name: Set up Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: 3.8

      # Install requirements + mypy
      - name: Install requirements and mypy
        run: |
          python -m pip install --upgrade pip wheel setuptools
          python -m pip install -r requirements.txt
          pip install mypy

      # Run mypy on project and tests
      - name: Run mypy
        run: |
          mypy project  # This workflow runs static type checks with mypy
          mypy tests    # Project code and tests comply with type hints
